asgiref==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
crispy-bootstrap5==0.6
distlib==0.3.4
Django==4.0.4
django-crispy-forms==1.14.0
django-filter==21.1
filelock==3.6.0
get-cover-art==1.5.6
idna==3.3
mutagen==1.45.1
Pillow==9.1.0
pipenv==2022.4.21
platformdirs==2.5.2
python-decouple==3.6
requests==2.27.1
six==1.16.0
spotipy==2.19.0
sqlparse==0.4.2
urllib3==1.26.9
virtualenv==20.14.1
virtualenv-clone==0.5.7
