{% extends 'base.html' %}

{% load crispy_forms_tags %}

<!-- based on example from https://github.com/sibtc/django-multiple-user-types-example -->

{% block content %}
  <!-- show any errors returned by the form submittal -->
  {% if form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {% for error in form.non_field_errors %}
        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
  
  <div class="row">
    <div class="col-12 text-center">
      <!-- page title -->
      <h2>Change Password</h2>
      
      <form method="post" novalidate>
        <!-- django needs this for security -->  
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <!-- submit button -->
        <button type="submit" class="btn btn-primary my-3">Save</button>
        
        <!-- This link in the form of a button allows the user to go back to the home page without changing the password -->
        <a class="btn btn-secondary" href="{% url 'App:home' %}">Cancel</a>

      </form>
    </div>
  </div>
{% endblock %}