{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="row">
    <div class="col-12 text-center">
      <!-- page title -->
      <h2>Sign up as a {{ user_type }}</h2>
      
      <form method="post" novalidate>
        <!-- django needs this for security -->  
        {% csrf_token %}
        
        <!-- display using django-crispy-forms -->
        {{ form|crispy }}
       
        <!-- submit button --> 
        <button type="submit" class="btn btn-success">Sign up</button>
        
      </form>
    </div>
  </div>
{% endblock %}