/* establish sticky fields to limit scrolling */

#table-header-sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;    /* don't scroll off top of page */
} 

#song-filter-sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 32px;  /* value based on height of table header */
}
