/* establish sticky fields to limit scrolling */
#header-form-sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;                   /* don't scroll off top of page */
  background-color: white;  /* prevent items scrolling behind it from being seen */
}

#play-and-clear-sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 216px;               /* value based on height of header form */
  background-color: white;
}

#table-header-sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 256px;           /* value based on heights of header form and row with play/clear buttons */
}

/* this hides the dropdown menu button when scrolling behind other elements */
.dropdown {
  position: inherit;  
}

/* this allows an icon to be used when editing a playlist with drag-and-drop */
#song-note-icon {
    position: absolute;
    zIndex: 1000;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

/* prevent text from being selected, for various browsers */
.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*color: #cc0000; */
}