/* hide the asterisks that normally indicate required fields */
.asteriskField {
    display: none;
}

/* style the error text */
#count-error {
    color: #ff0000;
    font-weight: bold;
    margin-bottom: 0;
}