body {
    background-color: DarkSlateGrey;
}

.page-content {
    font-family: "Tahoma", "Verdana", "Segoe", sans-serif;
}


/****** Song info  *****/

.studio-name {
  color: ghostwhite;
  background-color: midnightblue;
  font-size: 28px;
  margin-top: 1rem;
}

.div-title {
  color: DodgerBlue;
  font-size: 32px;
}

#id-now-playing-section {
    position: relative;
}

#id-previous-1-section {
    position: relative;
}

#id-previous-2-section {
    position: relative;
}

.thumb-button {
    display: block;
    padding: 2px 2px;
    position: absolute;
    width: 32px;
    bottom: 2px;
}

.left-thumb {
    left: 8px;
}

.right-thumb {
    right: 8px;
}

.dance-type {
    font-size: 28px;
    color: Yellow;
    letter-spacing: 1.0px;
}

.song-title {
    font-size: 20px;
    color: White;
    overflow: hidden;
}

.song-artist {
    font-size: 18px;
    color: White;
    overflow: hidden;
}

/* hide the navbar on this page */
.navbar {
    display: none;
}