h1 {
    margin: 1rem;
    font-size: 48px;
    color: purple;
    padding: 0 10% 1.0rem 10%;
}

h2 {
    margin: 1rem;
    font-size: 40px;
    color: purple;
    padding: 0 10% 1.0rem 10%;
}

h3 {
    margin: 1rem;
    font-size: 32px;
    color: purple;
    padding: 0 10% 1.0rem 10%;
}

.cover {
    margin: auto;
}

.cover img {
    width: 90%;
}

audio {
    width: 100%;
    margin: 1rem;
}


div.control-container {
    margin-top: 10px;
    padding-bottom: 10px; 
}

div.control-container div.amplitude-play-pause {
    width: 74px;
    height: 74px;
    cursor: pointer;
    float: left;
    margin-left: 10px; 
}
  
div.control-container div.amplitude-play-pause.amplitude-paused {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/single-song/play.svg");
    background-size: cover; 
}

div.control-container div.amplitude-play-pause.amplitude-playing {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/single-song/pause.svg");
    background-size: cover; 
}

div.control-container div.meta-container {
    float: left;
    width: calc(100% - 84px);
    text-align: center;
    color: white;
    margin-top: 10px; 
}
    
div.control-container .song-name {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    color: yellow;
    display: block; 
}

div.control-container div.meta-container span[data-amplitude-song-info="artist"] {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: #fff;
    display: block; 
}
  
div.control-container:after {
    content: "";
    display: table;
    clear: both; 
Í}

/*
  Small only
*/
/*
  Medium only
*/
/*
  Large Only
*/
.time-container {
    /*opacity: 0.5; */
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #fff;
    height: 32px; 
}

.time-container span.current-time {
    float: left;
    margin-left: 5px; 
}

.time-container span.duration {
    float: right;
    margin-right: 5px; 
}

/*
  Small only
*/
/*
  Medium only
*/
/*
  Large Only
*/
progress.amplitude-song-played-progress {
    background-color: #313252;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 12px;
    display: block;
    cursor: pointer;
    border: none; 
}
  
progress.amplitude-song-played-progress:not([value]) {
    background-color: #313252; 
}

progress[value]::-webkit-progress-bar {
    background-color: #313252; 
}

progress[value]::-moz-progress-bar {
    background-color: #00a0ff; 
}

progress[value]::-webkit-progress-value {
    background-color: #00a0ff; 
}

/*
  Small only
*/
/*
  Medium only
*/
/*
  Large Only
*/
/*
  3. Layout
*/
div.bottom-container {
    background-color: #202136;
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
}

/*
  Small only
*/
/*
  Medium only
*/
/*
  Large Only
*/
#single-song-player {
    border-radius: 10px;
    background-color: grey;
    margin: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    width: 100%;
/*    max-width: 460px; */
    -webkit-font-smoothing: antialiased; 
}

#single-song-player img[data-amplitude-song-info="cover_art_url"] {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px; 
}


