body {
    background-color: DarkSlateGrey;
}

.page-content {
    font-family: "Tahoma", "Verdana", "Segoe", sans-serif;
}


/****** Song info  *****/

.studio-name {
  color: ghostwhite;
  font-size: 28px;
}

.div-title {
  color: DodgerBlue;
  font-size: 32px;
}

#id-now-playing-section {
    position: relative;
}

.thumb-button {
    display: block;
    padding: 8px 8px;
    position: absolute;
    width: 40px;
    bottom: 0;
}

.left-thumb {
    left: 0;
}

.right-thumb {
    right: 0;
}

.dance-type {
    font-size: 28px;
    color: Yellow;
    letter-spacing: 1.0px;
}

#id-song-title-playing {
    font-size: 20px;
    color: White;
}

#id-song-artist-playing {
    font-size: 16px;
    color: White;
}