{% extends "base.html" %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/all_playlists.css' %}">
{% endblock %}

{% block content %}

  <div class="row">
    <!-- first row in bootstrap grid is the page title -->
    <div class="col-12">
      <h2 class="text-center">{{ page_title }}</h2>
    </div>
  </div>
  
  <!--- next row is the table -->
  <div class="col-12 border border-dark px-0">
  <table class="table table-bordered table-sm">
    <thead class="thead-dark">
      <!-- define the column headers -->
      <tr>
        <th class="text-center">Title</th>
        <th class="text-center">Owner</th>
        <th class="text-center">Song </br> Time Limit</th>
        <th class="text-center">Autoplay</br>Next Song</th>
        <th class="text-center">Description</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      
      <!-- each playlist is a row in the table -->
      {% for playlist in page_obj %}
        <tr>
          <!-- first columns are title and owner -->
          <td class="text-center">{{ playlist.title }}</td>
          <td>{{ playlist.owner }}</td>
          
          <!-- if max song duration is set, display in minutes:seconds format -->
          {% if playlist.max_song_duration %}
            <td>{{ playlist.max_song_duration|time:"i:s" }}</td>
          {% else %}
            <td>None</td>
          {% endif %}
          
          <!-- display a checkmark if auto_continue field is true -->
          {% if playlist.auto_continue %}
            <td>&#10004;</td>
          {% else %}
            <td></td>
          {% endif %}
          
          <td>{{ playlist.description }}</td>
          
          <!-- action buttons -->
          <td class="text-center">
            
            <!-- superusers and teachers can see the play button -->
            {% if user.is_superuser or user.is_teacher %}
              <a class="btn btn-primary btn-sm" href="{% url 'App:play_song_list' playlist.id %}">Play</a>
            {% endif %}
          
            <!-- superusers and owners can edit or delete -->
            {% if user.is_superuser or user == playlist.owner %}
              <a class="btn btn-info btn-sm" href="{% url 'App:edit_playlist' playlist.id %}">Edit</a>
              <a class="btn btn-danger btn-sm" 
                  onclick="return confirm('Deleting: {{playlist.title}}\n Are you sure?')" 
                  href="{% url 'App:delete_playlist' playlist.id %}">Delete</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <!-- links to previous and next, first and last pages -->
  {% include "pagination.html" %}
  
  <!-- link to create a playlist, including 1 as a parameter indicates random playlist -->
  <div class="text-center mt-2">
    <a class="btn btn-primary" href="{% url 'App:create_playlist' %}">Create Empty Playlist</a>
    <a class="btn btn-primary" href="{% url 'App:create_playlist' 1 %}">Create Random Playlist</a>
  </div>

{% endblock %}