{% extends "base.html" %}

{% load static %}

{% block content %}

  <!-- first row in bootstrap grid is the page title, with some padding on the bottom -->
  <div class="row">
    <div class="col-12">
      <h2 class="text-center pb-2">Songs</h2>
    </div>
  </div>
  
   <!-- next row in bootstrap grid is a table, with dark borders --> 
  <div class="col-12 border border-dark">
  <table class="table table-bordered table-sm">
    <thead class="thead-dark">
      <!-- column headers have a dark background -->
      <tr>
        <th class="text-center">Artist</th>
        <th class="text-center">Title</th>
        <th class="text-center">Dance</th>
        <th class="text-center">Special</th>
        <th class="text-center">Holiday</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- the first row of the table is a filter -->
      <form class="mx-auto" method="get">
        {% csrf_token %}
        <tr class="table-primary">
          <!-- user can filter on any of these columns --> 
          <td class="text-center">{{ filter.form.artist }}</td>
          <td class="text-center">{{ filter.form.title }}</td>
          <td class="text-center">{{ filter.form.dance_type }}</td>
          <td class="text-center">{{ filter.form.special }}</td>
          <td class="text-center">{{ filter.form.holiday }}</td>
          <!-- the last button is used to submit filter data -->
          <td class="text-center">
            <input class="btn btn-dark btn-sm" type="submit" name="submit" value="Filter"/>
          </td>
        </tr>
      </form>
      
      <!-- the rest of the table has one page of songs, one song per row -->
      {% for song in page_obj %}
      <tr>
        <td class="text-center">{{ song.artist }}</td>
        <td class="text-center">{{ song.title }}</td>
        <!-- display the "readable" string for the dance type, special tag, and holiday -->
        <td class="text-center">{{ song.get_dance_type_display }}</td>
        <td class="text-center">{{ song.get_special_display }}</td>
        <td class="text-center">{{ song.get_holiday_display }}</td>
        
        <!-- final column has the action buttons -->
        <td class="text-center">
          {% if user.is_superuser or user.is_teacher %}
            <!-- only admin users or teachers can play or edit songs -->
            <a class="btn btn-primary btn-sm" href="{% url 'App:play_song' song.id %}">Play</a>
            <span class="dropdown">
              <button class="btn btn-sm btn-info dropdown-toggle" type="button" 
                      data-bs-toggle="dropdown">...
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'App:update_song' song.id %}">Edit</a></li>
                
                <li><h6 class="dropdown-header">Add to Playlist</h6></li>
                {% for p in playlists %}
                  <li><a class="dropdown-item" 
                         href="{% url 'App:add_to_playlist' p.id song.id %}">{{p.title}}</a>
                  </li>
                {% endfor %}
                
                {% if user.is_superuser %}
                  <!-- only admin users can edit or delete a song -->
                  <!-- force the user to confirm before deleting a song -->
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'App:delete_song' song.id %}"
                         onclick="return confirm('Deleting: {{song.title}}\n Are you sure?')">Delete</a>
                  </li>
              {% endif %}
              </ul>
            </span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <!-- links to previous and next, first and last pages -->
  {% include "pagination.html" %}
  
  <!-- link to create a song from an audio file, may add other ways like Soundcloud -->
  <div class="text-center mt-2">
     <a class="btn btn-primary" href="{% url 'App:add_song' %}">Add Song From File</a>
  </div>

{% endblock %}