{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load my_tags %}  

{% block extra_css %}
  <!-- special styling needed for this page -->
  <link rel="stylesheet" href="{% static 'css/edit_playlist.css' %}">
{% endblock %}

{% block content %}

  <!-- first row in bootstrap grid has the page title and the form to edit playlist info.-->
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Edit Playlist</h2>
    </div>
  </div>
  
  <!-- use sticky to keep header from scrolling off the page -->
  <div id="header-form-sticky" class="row">
    <div class="col-12">
      <p>{{ error }}</p>

      <!-- display the form --> 
      {% crispy form %}
    
    </div>
  </div>
  
  <!-- next row has buttons, use sticky to keep this from scrolling off the page -->
  <div id='play-and-clear-sticky' class="row">
    <div class="col-6">
      <!-- link to play this current playlist-->
      <div class="text-end mt-2">
        <a class="btn btn-primary btn-sm" href="{% url 'App:play_song_list' playlist.id %}">Play from start</a>
      </div>
    </div>
    <div class="col-6">
      <!-- link to regenerate this current playlist-->
      <div class="text-start mt-2">
        <a class="btn btn-warning btn-sm" href="{% url 'App:build_random_playlist' playlist.id %}">Clear and Regenerate</a>
      </div>
    </div>
  </div>
  
   <!-- next row in bootstrap grid is a table, with dark borders and margin above --> 
  <div class="col-12 border border-dark mt-2">
  <table class="table table-bordered table-sm">
    <!-- column headers have a dark background -->
    <thead class="table-dark">
      <!-- use sticky to keep table header from scrolling off the page -->
      <tr id='table-header-sticky' >
        <th class="text-center">Index</th>
        <th class="text-center">Artist</th>
        <th class="text-center">Title</th>
        <th class="text-center">Dance</th>
        <th class="text-center">Play <br>Whole Song?</th>
        <th colspan='3' class="text-center">Action</th>
      </tr>
    </thead>
    <tbody id="playlist-songs">
      
      <!-- the rest of the table has one song per row -->
      {% for s in songs %}
      <tr>
        <!-- show a one-based index as the first column. -->
        <td class="text-center">{{ forloop.counter }}</td>
        
        <td class="text-center">{{ s.song.artist }}</td>
        <td class="text-center">{{ s.song.title }}</td>
        
        <!-- display the "readable" string for the dance type -->
        <td class="text-center">{{ s.song.get_dance_type_display }}</td>
        
        <!-- display a checkmark is song is featured, red x if not -->
        <td class="text-center">  
          {% if s.feature %}
            <a class="fs-5" style="text-decoration: none"
               href="?{% param_replace cmd="feature" index=forloop.counter0 %}">&#9989;</a>
          {% else %}
            <a class="fs-5 link-danger" style="text-decoration: none"
               href="?{% param_replace cmd="feature" index=forloop.counter0 %}">&cross;</a>
          {% endif %}
        </td>
        
        <!-- final columns are the action buttons -->
        <td class="text-center">  
          <!-- show the up arrow to move a song up one slot unless it's the first song -->
          {% if forloop.counter > 1 %}
            <!-- add command and a zero-based index as URL parameters so the view can process -->
            <a class="btn btn-white btn-sm" 
              href="?{% param_replace cmd="up" index=forloop.counter0 %}">
              <img src={% static 'img/arrow-up.svg' %}>
            </a>
          {% endif %}
        </td>
        
        <td class="text-center">  
          <!-- show the down arrow to move a song down one slot unless it's the last song -->
          {% if forloop.counter < songs|length %}
            <a class="btn btn-white btn-sm" 
              href="?{% param_replace cmd="down" index=forloop.counter0 %}">
              <img src={% static 'img/arrow-down.svg' %}>
            </a>
         {% endif %}
        </td>
        
        <td><span class="dropdown">
          <button class="btn btn-sm btn-outline-dark dropdown-toggle" type="button" 
                  data-bs-toggle="dropdown">&hellip;       
          </button>
          <ul class="dropdown-menu">
            <!-- allow the user to replace a song with another of the same dance style --> 
            <li><a class="dropdown-item" 
                   href="?{% param_replace cmd="replace-song" index=forloop.counter0 %}">Replace</a>
            </li>
     
            <!-- allow the user delete a song and move all other songs up one slot -->
            <!-- force the user to confirm before deleting a song --> 
            <li><a class="dropdown-item" 
                   onclick="return confirm('Deleting: {{song.title}}\n Are you sure?')" 
                   href="?{% param_replace cmd="delsong" index=forloop.counter0 %}">Delete</a>
            </li>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  <div class="col-12 dropdown mt-2">
    <!-- link to add random song to current playlist-->
    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" 
        data-bs-toggle="dropdown">Add Random Song       
    </button>
    <!-- create a menu of dance types, with a wildcard on top -->  
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'App:add_random_song_to_playlist' playlist.id "Any" %}">----------</a></li>
      {% for dt in dance_types %}
        <li><a class="dropdown-item" href="{% url 'App:add_random_song_to_playlist' playlist.id dt.0 %}">{{dt.1}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <img id='song-note-icon' hidden src="{% static 'img/default.png' %}">
    <a id="submit-drag-drop-song" hidden href="#"></a>
  </div>

{% endblock %}

<!-- need javascript to submit the form when any info items have changed -->
{% block extra_js %}
    <script src={% static 'js/edit_playlist.js' %}></script>
{% endblock %}