{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-12">
    <!-- page title and placeholder for form errors -->
    <h2 class='text-center my-2'>Edit Playlist Info</h2>
    <p>{{ error }}</p>

    <!-- display the form --> 
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      
      <!-- top margin for buttons -->
      <div class="text-center mt-3">
        <!-- submit the form to the view -->
        <button class="btn btn-primary" type="submit">Save</button>
        <!-- this button cancels the edit, and redirects back to list of songs -->
        <a class="btn btn-secondary" href="{% url 'App:all_playlists' %}">Cancel</a>
      </div>
      
    </form>
  </div>
</div>


{% endblock %}
