{% extends "base.html" %}

{% load static %}

{% block content %}

  <!-- first row in bootstrap grid has the page title and the name of the playlist we are editing.
       There is some padding on the bottom -->
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Edit Playlist</h2>
      <h3 class="text-center pb-2">{{ playlist.title }}</h3>
    </div>
  </div>
  
   <!-- next row in bootstrap grid is a table, with dark borders --> 
  <div class="col-12 border border-dark">
  <table class="table table-bordered table-sm">
    <thead class="thead-dark">
      <!-- column headers have a dark background -->
      <tr>
        <th class="text-center">Index</th>
        <th class="text-center">Artist</th>
        <th class="text-center">Title</th>
        <th class="text-center">Dance</th>
        <th colspan='3' class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      
      <!-- the rest of the table has one page of songs, one song per row -->
      {% for song in page_obj %}
      <tr>
        <td class="text-center">{{ forloop.counter }}</td>
        <td class="text-center">{{ song.artist }}</td>
        <td class="text-center">{{ song.title }}</td>
        <!-- display the "readable" string for the dance type, special tag, and holiday -->
        <td class="text-center">{{ song.get_dance_type_display }}</td>
        <!-- final column is the action buttons -->
        <td class="text-center">  
          {% if forloop.counter > 1 %}
            <a class="btn btn-white btn-sm" 
              href="{% url 'App:edit_playlist_move_up' playlist.id forloop.counter0 %}">
              <img src={% static 'img/arrow-up.svg' %}>
            </a>
          {% endif %}
        </td>
        
        <td class="text-center">            
          {% if forloop.counter < page_obj|length %}
            <a class="btn btn-white btn-sm" 
              href="{% url 'App:edit_playlist_move_down' playlist.id forloop.counter0 %}">
              <img src={% static 'img/arrow-down.svg' %}>
            </a>
          {% endif %}
        </td>
        
        <td class="text-center">         
          <!-- force the user to confirm before deleting a song --> 
          <a class="btn btn-white btn-sm" 
            onclick="return confirm('Deleting: {{song.title}}\n Are you sure?')" 
            href="{% url 'App:edit_playlist_delsong' playlist.id forloop.counter0 %}">
            <img src={% static 'img/trash3.svg' %}>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <!-- links to previous and next, first and last pages -->
  {% include "pagination.html" %}
  
  <!-- link to play this current playlist-->
  <div class="text-center mt-2">
     <a class="btn btn-primary" href="{% url 'App:play_song_list' playlist.id %}">Play</a>
  </div>

{% endblock %}