{% extends "base.html" %}

{% load static %}
{% load my_tags %}  

{% block content %}

  <!-- first row in bootstrap grid has the page title and the name of the playlist we are editing.-->
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Edit Playlist</h2>
      <h3 class="text-center">{{ playlist.title }}
        <a class="btn btn-white btn-sm" 
              href="{% url 'App:edit_playlist_info' playlist.id %}">
              <img src={% static 'img/pencil-square.svg' %}>
        </a>
      </h3>
    </div>
  </div>
  
  <div class="row">
    <div class="col-6">
      {% if playlist.max_song_duration %}
        <h6 class="text-end text-secondary">Song Time Limit: {{ playlist.max_song_duration|time:"i:s" }}</h6>
      {% else %}
        <h6 class="text-end text-secondary">No Song Time Limit</h6>
      {% endif %}
      <!-- link to play this current playlist-->
      <div class="text-end mt-2">
        <a class="btn btn-primary btn-sm" href="{% url 'App:play_song_list' playlist.id %}">Play from start</a>
      </div>
    </div>
    <div class="col-6">
      {% if playlist.auto_continue %}
        <h6 class="text-start text-secondary">Autoplay Next Song: On</h6>
      {% else %}
        <h6 class="text-start text-secondary">Autoplay Next Song: Off</h6>
      {% endif %}
      <!-- link to play this current playlist-->
      <div class="text-start mt-2">
        <a class="btn btn-warning btn-sm" href="{% url 'App:build_random_playlist' playlist.id %}">Clear and Regenerate</a>
      </div>
    </div>
  </div>
  
   <!-- next row in bootstrap grid is a table, with dark borders and margin above --> 
  <div class="col-12 border border-dark mt-2">
  <table class="table table-bordered table-sm">
    <thead class="thead-dark">
      <!-- column headers have a dark background -->
      <tr>
        <th class="text-center">Index</th>
        <th class="text-center">Artist</th>
        <th class="text-center">Title</th>
        <th class="text-center">Dance</th>
        <th class="text-center">Feature?</th>
        <th colspan='3' class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      
      <!-- the rest of the table has one song per row -->
      {% for s in songs %}
      <tr>
        <!-- show a one-based index as the first column. -->
        <td class="text-center">{{ forloop.counter }}</td>
        
        <td class="text-center">{{ s.song.artist }}</td>
        <td class="text-center">{{ s.song.title }}</td>
        
        <!-- display the "readable" string for the dance type -->
        <td class="text-center">{{ s.song.get_dance_type_display }}</td>
        
        <!-- display a checkmark is song is featured, red x if not -->
        <td class="text-center">  
          {% if s.feature %}
            <a class="fs-5" style="text-decoration: none"
               href="?{% param_replace cmd="feature" index=forloop.counter0 %}">&#9989;</a>
          {% else %}
            <a class="fs-5 link-danger" style="text-decoration: none"
               href="?{% param_replace cmd="feature" index=forloop.counter0 %}">&cross;</a>
          {% endif %}
        </td>
        <!-- final columns are the action buttons -->
        
        <td class="text-center">  
          <!-- show the up arrow to move a song up one slot unless it's the first song -->
          {% if forloop.counter > 1 %}
            <!-- add command and a zero-based index as URL parameters so the view can process -->
            <a class="btn btn-white btn-sm" 
              href="?{% param_replace cmd="up" index=forloop.counter0 %}">
              <img src={% static 'img/arrow-up.svg' %}>
            </a>
          {% endif %}
        </td>
        
        <td class="text-center">  
          <!-- show the down arrow to move a song down one slot unless it's the last song -->
          {% if forloop.counter < songs|length %}
            <a class="btn btn-white btn-sm" 
              href="?{% param_replace cmd="down" index=forloop.counter0 %}">
              <img src={% static 'img/arrow-down.svg' %}>
            </a>
          {% endif %}
        </td>
        
        <td class="text-center">      
          <!-- show the trash can to delete a song and move all other songs up one slot -->
          <!-- force the user to confirm before deleting a song --> 
          <a class="btn btn-white btn-sm" 
            onclick="return confirm('Deleting: {{song.title}}\n Are you sure?')" 
            href="?{% param_replace cmd="delsong" index=forloop.counter0 %}">
            <img src={% static 'img/trash3.svg' %}>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}