{% extends "base.html" %}

{% load static %}

{% block content %}

  {% if not user.is_authenticated %}
    <h1 class="text-center mb-3">Studio Music Player</h1>
    <div class="row">
      <div class="text-center">
        <a class="btn btn-primary" href="{% url 'login' %}">Log in</a> 
        <a class="btn btn-primary" href="{% url 'App:playing' %}">Now Playing</a> 
        <!--<a class="btn btn-primary" href="{% url 'signup' %}">Create Account</a>-->
      </div>
    </div>
  {% else %}
    <h1 class="text-center mb-3">Hello, <span class="text-danger"> {{user.username}} <span></h1>
    {% if user.has_spotify_token %}
      <div class="row mb-2"> 
        <div class="col-6 text-end">
          <h3 class="text-success">You are currently streaming from Spotify</h3>
        </div>
        <div class="col-6 text-start">
          <a class="btn btn-primary" href="{% url 'App:spotify_sign_out' %}">Use Music on this Device</a> 
        </div>
      </div>
    {% else %}
      <div class="row mb-2"> 
        <div class="col-6 text-end">
          <h3 class="text-dark" href="#">You are currently using Music on this Device</h3> 
        </div>
        <div class="col-6 text-start">
          <a class="btn btn-primary" href="{% url 'App:spotify_sign_in' %}">Sign in to Spotify</a>
        </div>
      </div>
    {% endif %}
    <div class="row mb-0">
      <div class="col-6 text-end">
        <a class="btn btn-secondary" href="{% url 'password_change' %}">Change Password</a>
      </div>
      <div class="col-6 text-start">
        <a class="btn btn-secondary" href="{% url 'logout' %}">Log out</a>
      </div>
    </div>
  {% endif %}
    
  <div class="text-center mt-0">
    <!-- this could be a logo image stored in the static folder --> 
    <img src={% static 'img/DD Vector Logo final latest.svg' %}>
  </div>

{% endblock %}