{% extends "base.html" %}

{% load static %}

{% block extra_css %}
  <!-- special styling needed for this page -->
  <link rel="stylesheet" href="{% static 'css/play_song_list.css' %}">
{% endblock %}

{% block content %}

  <div class="row align-items-center">
    <!-- Top Level Headers -->
    <div class = "col-8">
      <!-- dance type on left side, 8 out of 12 columns -->
      {% if playlist_info.is_showcase_or_comp %}
        <h1 class="dance-type text-center">
          <span>Heat </span>
          <span id="id-heat-number">?</span>
          <span>: </span>
          <span data-amplitude-song-info="dance_type"></span>
        </h1>
      {% else %}
        <h1 class="dance-type text-center"><span data-amplitude-song-info="dance_type"></span></h1>
      {% endif %}
    </div>
    <div class="col-4">
      <!-- up next on right side, 4 out of 12 columns -->
      <h2 class="text-warning">Up Next</h2>
    </div>
  </div>
  
  <div class="row align-items-center">
    <!-- next row in bootstrap grid broken into three sections -->
    <div class = "col-5">
      <!-- current song metadata in left section -->
      <h2 class="song-title text-center"><span data-amplitude-song-info="name"></span></h2>
      <h3 class="song-artist text-center"><span data-amplitude-song-info="artist"></span></h3>
    </div>
    
    <div class="col-3">
      <!-- cover art in middle section -->
      <div class="cover text-center">
        <img data-amplitude-song-info="cover_art_url"/>
      </div>
    </div>
    
    <div class="col-4">
      <!-- upcoming songs in right section, show dance_type and title only -->
      {% for i in playlist_indices %}
        <div class="song-meta-container" id="index-{{i}}">
          {% if playlist_info.is_showcase_or_comp %}
            <span class="song-dance-type">Heat {{forloop.counter}}</span>
            <span class="song-name" data-amplitude-song-info="dance_type" data-amplitude-song-index="{{ i }}"></span>
          {% else %}
            <span class="song-dance-type" data-amplitude-song-info="dance_type" data-amplitude-song-index="{{ i }}"></span>
            <span class="song-name" data-amplitude-song-info="name" data-amplitude-song-index="{{ i }}"></span>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="row align-items-center">
    <!-- next row in bootstrap grid broken into two sections -->
    <div class="col-8">
      <!-- left section has the audio player and its controls -->
      <div id="player">
      
        <!-- Progress Bar -->
        <div class="bottom-container">
          <progress id="song-played-progress"></progress>
        </div>
  
        <!-- Time information, current, fadeout-time, and duration -->
        <div class="time-container">
          <span class="current-time">
            <span class="amplitude-current-minutes" amplitude-main-current-minutes="true"></span>:<span class="amplitude-current-seconds" amplitude-main-current-seconds="true"></span>
          </span>
          <span class="duration" id='id-duration'>
            <span id="duration-minutes">0</span>:<span id="duration-seconds">00</span>
          </span>     
        </div>
  
        <!-- Previous, Play/Pause, Next, Volume/Mute, Volume Slider -->
        <div class="control-container text-center">
          <div class="amplitude-prev" id="prev"></div>
          <div class="amplitude-play-pause" amplitude-main-play-pause="true" id="play-pause"></div>
            
          <div class="amplitude-next" id="next"></div>
          
          <div class="volume-container">
            <div class="amplitude-mute"></div>
            <input type="range" class="amplitude-volume-slider" id="volume_control" step=".1"/>
          </div>

        </div>
      </div>
    </div>
  
    <div class="col-4">
      <!-- right section has info about the current playlist and link back to all playlists page -->
      <p class="text-info my-1"><span>Playlist: </span>
         <span data-amplitude-playlist-info="title" data-amplitude-playlist="the_list"></span>
         <span><a href="{% url 'App:edit_playlist' playlist_info.id %}">Edit</a></span>
      </p>
      {% if playlist_info.max_song_duration %}
        <p class="text-info my-2" id="timelimit">Song time limit: {{ playlist_info.max_song_duration|time:"i:s" }}</p>
      {% endif %}
      {% if playlist_info.auto_continue %}
        <p class="text-info my-1">Next track played automatically</p>
      {% else %}
        <p class="text-info my-1">Pause before playing next track</p>
      {% endif %}
      <p class="text-center my-2"><a href="{% url 'App:all_playlists' %}">Back to All Playlists</a></p>
    </div>
  </div>

{% endblock %}

{% block extra_js %}
  <!-- django way to make this list available to javascript -->
  {{ is_feature_list|json_script:"is-feature-list-data" }}
  
  <!-- Javascript for the AmplitudeJS player -->
  <script type="text/javascript" src={% static "js/amplitude.min.js" %}></script>
  <script>
  
    /* common function to hide a song at the given index from the "up next" list */
    function hideSongInUpNext(index_to_hide) {
      /* ensure index is valid */
      if (index_to_hide < {{ playlist_indices|length }}) {
        var hide_index_name = "index-" + index_to_hide;
        document.getElementById(hide_index_name).style.display = "none";
      };
    };
    
    /* common function to show a song at the given index from the "up next" list */
    function showSongInUpNext(index_to_show) {
      /* ensure index is valid */
      if (index_to_show < {{ playlist_indices|length }}) {
        var show_index_name = "index-" + index_to_show;
        document.getElementById(show_index_name).style.display = "inline-block";
      };
    };
    
    function updateHeatNumber(index) {
        var current_heat_readable = String(index + 1);
        heat_number_elem.innerHTML = current_heat_readable;
    };
  
    const startVolume = 80 /* percent */
    /* get access to time limit paragraph element and is_feature_list */
    const time_limit_para = document.getElementById("timelimit");
    const heat_number_elem = document.getElementById("id-heat-number");
    const is_feature_list = JSON.parse(document.getElementById('is-feature-list-data').textContent);
    
    const volume_control = document.getElementById('volume_control');
    
    var progress_bar = document.getElementById('song-played-progress');
    var duration_time = document.getElementById('id-duration');
    var duration_minutes = document.getElementById('duration-minutes');
    var duration_secs = document.getElementById('duration-seconds');
    var current_index = {{start_index}};

    const zeroPad = (num, places) => String(num).padStart(places, '0');
    
    Amplitude.init({
      "bindings": {
        37: 'prev',         /* left arrow */
        39: 'next',         /* right arrow */
        32: 'play_pause'    /* spacebar */
      },
      
      "volume": startVolume,
      
      /* list of all songs in the playlist */
      "songs": [
      {% for song in song_list %}
        {
          "name": "{{song.title}}",
          "artist": "{{song.artist}}",
          "url": "{{song.audio_file.url}}",
          /* if no cover art for a song, use default image */
          {% if song.image %}
            "cover_art_url": "{{song.image.url}}",
          {% else %}
            "cover_art_url": "{{default_url}}",
          {% endif %}
          "dance_type": "{{song.get_dance_type_display}}",
        },
      {% endfor %}
      ],
      
      /* this provides the playlist title and song order */
      "playlists": {
        "the_list": {
          songs: {{ playlist_indices }},
          title: "{{ playlist_info.title }}",
        }
      },
      
      "start_song": {{start_index}},   /* start playlist from this index */
      
      /* special code for various events */
      "callbacks": {
        'initialized': function(){
          /* when playlist starts, show the next four songs in 'up next' list */
          console.log("Player has been initialized.");
          for (let i = {{ start_index }} + 1; i <= {{ start_index }} + 4; i++ ) {
            showSongInUpNext(i);
          };
          updateHeatNumber({{ start_index }});
        },
        
        'timeupdate': function(){
        
          /* is this song a feature? */
          index = Amplitude.getActiveIndex();
          var is_feature = is_feature_list[index];
          var fading_limit;
          var pct_played, total_minutes, total_seconds;
 
          /* check how long this song has been playing */
          played = Amplitude.getSongPlayedSeconds();
          new_song_duration = Amplitude.getSongDuration();
          
          if (played > 1) {
          
            {% if playlist_info.max_song_duration %} 
              if ( is_feature ) {
                /* hide the time limit paragraph, and play entire song except for last second */ 
                time_limit_para.setAttribute('hidden','');
                limit = Math.round(new_song_duration) - 1;
                fading_limit = limit;
                duration_time.style.backgroundColor = 'transparent';
              } else if (new_song_duration < {{ max_song_duration_in_sec }} ) {
                limit = new_song_duration;
                fading_limit = limit;
                duration_time.style.backgroundColor = 'transparent';
              } else {
                /* not a feature song, show the time limit paragraph and set time limit*/
                time_limit_para.removeAttribute('hidden');
                limit = {{ max_song_duration_in_sec }};
                fading_limit = limit - 5;
                duration_time.style.backgroundColor = 'red';
              }
            {% else %}
              limit = new_song_duration;
              fading_limit = limit;
              duration_time.style.backgroundColor = 'transparent';
            {% endif %}
            
            /* update progress bar and end duration */
            total_minutes = Math.trunc(limit / 60);
            total_seconds = Math.round(limit - total_minutes * 60);
            pct_played = played / limit;
          
            /* update the duration fields and progress bar */
            duration_minutes.innerHTML = total_minutes;
            duration_secs.innerHTML = zeroPad(total_seconds, 2);
            duration_time.removeAttribute('hidden');
            progress_bar.setAttribute("value", pct_played);
            
            if (played > fading_limit) {
              /* highlight the time limit text when time has expired */
              time_limit_para.style.backgroundColor = 'red';
                  
              curr_volume = Amplitude.getVolume();
              if (curr_volume > 40) {
                  /* drop volume by 10% after time limit hit */
                  new_volume = curr_volume - 10;
              } else if (curr_volume > 10) {
                  /* once volume gets to 40, continue fading 2% each time, until volume gets below 10% */
                  new_volume = curr_volume - 2;
              } else {
                  /* at lower than 10%, set volume to 0 */
                  new_volume = 0;
                  Amplitude.setVolume(new_volume);
                  console.log("setting volume to", new_volume);
                  volume_control.value = new_volume; 
  
                  {% if playlist_info.auto_continue %}
                    /* delay two additional seconds then play next */
                    if (played - 3 > {{ max_song_duration_in_sec }}) {
                      Amplitude.next();
                    }
                  {% else %}
                    /* playlist not auto-continue, so pause after fading complete */
                    Amplitude.pause();
                  {% endif %}
                  return;
              }
              Amplitude.setVolume(new_volume);
              console.log("setting volume to", new_volume);
              volume_control.value = new_volume; 
            }
          }
        },
          
        'prev': function() {          
          var current_index = Amplitude.getActiveIndex();
          
          /* show the song that was playing in the 'up next' list */
          showSongInUpNext(current_index + 1);
          
          /* only show 4 songs in up next, so hide the one after that */
          hideSongInUpNext(current_index + 5);
          
          /* update the current heat number */
          updateHeatNumber(current_index);
        },
          
        'song_change': function(){   
          /* song has changed, either backward or forward */
          console.log("Song has been changed.");
          
          /* reset volume level and clear any highlighing */
          Amplitude.setVolume(startVolume);
          console.log("setting volume to ", startVolume);
          volume_control.value = startVolume; 
          {% if playlist_info.max_song_duration %}
            time_limit_para.style.backgroundColor = 'transparent';    
          {% endif %}

          current_index = Amplitude.getActiveIndex();

          /* don't show current song in 'up next' list */
          hideSongInUpNext(current_index);
            
          /* show the 4th future song in the list, if there is one */
          showSongInUpNext(current_index+ 4);
          
          /* update the current heat number */
          updateHeatNumber(current_index);
        }
      },
      
      /* if entire song played and playlist set to play next song automatically */
      {% if playlist_info.auto_continue %}
      "continue_next": true,
      delay: 2000           /* delay 2 seconds between songs */
      {% else %}
      "continue_next": false,
      {% endif %}
    });

    window.onkeydown = function(e) {
        return !(e.keyCode == 32);
    };

    /* Handles a click on the song played progress bar.*/
    document.getElementById('song-played-progress').addEventListener('click', function( e ){
      var offset = this.getBoundingClientRect();
      var x = e.pageX - offset.left;
    
      Amplitude.setSongPlayedPercentage( ( parseFloat( x ) / parseFloat( this.offsetWidth) ) * 100 );
      }
    );
  </script>

{% endblock %}