{% extends "base.html" %}

{% load static %}

{% block extra_css %}
  <!-- special styling needed for this page -->
  <link rel="stylesheet" href="{% static 'css/play_spotify_song.css' %}">
{% endblock %}

{% block content %}

  <div class="row player-page align-items-center">
    <!-- bootstrap grid, left side is 8 out of 12 columns -->
    <div class = "col-8">
      <!-- Dance Type and metadata of current song -->
      <h1 class="dance-type text-center">{{dance_type}}</h1>
      <h2 class="song-title text-center">{{title}}</h2>
      <h3 class="song-artist text-center">{{artist}}</span></h3>
    </div>
    <div class="col-4">
      <!-- the right side is 4 of 12 columns and has the cover art -->
      <div class="cover text-center">
        <img src="{{cover_art}}"/>
      </div>
    </div>
  </div>
  
  <div class='row align-items-center'>
    <div class="col-8 my-3" id="single-song-player">
    
      <!-- Progress Bar -->
      <div class="bottom-container">
        <progress id="song-played-progress"></progress>
      </div>
    
      <!-- Time information, current and duration -->
      <div class="time-container">
        <span class="current-time">
          <span id='current-minutes'>0</span>:<span id="current-seconds">00</span>
        </span>
    
        <span class="duration" id='id-duration' hidden>
          <span id='duration-minutes'>0</span>:<span id='duration-seconds'>00</span>
        </span>   
      </div>
    
      <!-- Play/Pause, Mute button and volume slider, this is what does the work -->
      <div class="control-container">
        <div class="spotify-logo">
          <p class='mb-0'>Streaming from</p>
          <img class="nav-bar-img" src={% static 'img/Spotify_Logo_RGB_Green.png' %}>
        </div>
        <div class="play-pause" id="play-control" hidden></div>
        <div class="play-pause" id="pause-control"></div>  
    
        <div class="volume-container">
          <div class="volume-mute" id="volume-button"></div>
          <div class="volume-mute" id="mute-button" hidden></div>
          <input type="range" class="volume-slider" id="volume_control" max="1" value="0.8" step="0.05"/>
        </div>
      </div>
    </div>
    
    <div class="col-4">
      <p class="text-center mt-4"><a href="{% url 'App:show_songs' %}">Back to Song List</a></p>
    </div>
    
  </div>


{% endblock %}

{% block extra_js %}
  <!-- django way to make this list available to javascript -->
  {{ spotify_uris|json_script:"spotify-uris-data" }}
  
  <!-- Javascript for the Spotify player -->
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <script> 
    var my_device_id; 
    
    const spotify_uris = JSON.parse(document.getElementById('spotify-uris-data').textContent);
    
    const play = ({
      spotify_uris,
      offset, 
      player_instance
      }) => {
        fetch(`https://api.spotify.com/v1/me/player/play?device_id=${my_device_id}`, {
          method: 'PUT',
          body: JSON.stringify({ uris: spotify_uris, offset: offset}),
          headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer {{user_token}}`
        },
      });
    };
    
    
    var progress_bar = document.getElementById('song-played-progress');
    var current_minutes = document.getElementById('current-minutes');
    var current_seconds = document.getElementById('current-seconds');
    var duration_time = document.getElementById('id-duration');
    var duration_minutes = document.getElementById('duration-minutes');
    var duration_secs = document.getElementById('duration-seconds');

    const volume_control = document.getElementById('volume_control');
    
    var initial_load;
    var saved_volume = 0.8;
    var current_state = 'paused';
    
    var play_control = document.getElementById('play-control');
    var pause_control = document.getElementById('pause-control');
    var progress_timer;
    
    window.onSpotifyWebPlaybackSDKReady = () => {
    // You can now initialize Spotify.Player and use the SDK
      
      const token = '{{ user_token }}';
      const player = new Spotify.Player({
          name: 'Studio Streaming Player',
        getOAuthToken: cb => { cb(token); },
        volume: saved_volume
        });
    
      function pause_the_song(between_songs) {
        pause_control.setAttribute('hidden','');
        play_control.removeAttribute('hidden');
        current_state = 'paused';
        player.pause();
      };
      
      
      function update_progress_bar (position, duration) {
        var pct_played, total_minutes, total_seconds;
        var duration_seconds = Math.round(duration/1000);
        var limit, fading_limit;
    
        const zeroPad = (num, places) => String(num).padStart(places, '0');
    
        pct_played = position / duration;
        total_minutes = Math.trunc(duration / 60000);
        total_seconds = Math.trunc((duration - total_minutes * 60000) / 1000);
        duration_time.style.backgroundColor = 'transparent';
        
        played_minutes = Math.trunc(position / 60000);
        played_seconds = Math.trunc((position - played_minutes * 60000) / 1000);
        current_minutes.innerHTML = played_minutes
        current_seconds.innerHTML = zeroPad(played_seconds, 2)
    
        duration_minutes.innerHTML = total_minutes;
        duration_secs.innerHTML = zeroPad(total_seconds, 2);
        duration_time.removeAttribute('hidden');
        progress_bar.setAttribute("value", pct_played);
      };
    
      // Ready
      player.addListener('ready', ({ device_id }) => {
        console.log('Ready with Device ID', device_id);
        my_device_id = device_id;
        initial_load = true;
        play_control.removeAttribute('hidden');
        pause_control.setAttribute('hidden', '');
      });
  
      // Not Ready
      player.addListener('not_ready', ({ device_id }) => {
        console.log('Device ID has gone offline', device_id);
      });
  
      player.addListener('initialization_error', ({ message }) => {
        console.error(message);
      });
  
      player.addListener('authentication_error', ({ message }) => {
        console.error(message);
      });
  
      player.addListener('account_error', ({ message }) => {
        console.error(message);
      });
  
  
      function getProgress() {
        player.getCurrentState().then(state => {
          if (!state) {
            console.error('User is not playing music through the Web Playback SDK');
            return;
          };
          
              
          var duration = state.duration;
          var position = state.position;
        
          if (state.paused && (current_state == 'playing')) {
            console.log("Song has been paused");
            pause_the_song();
          };
          update_progress_bar(position, duration);
            
        });
      };
  
      play_control.onclick = function() {
        if (initial_load) {
          offset = {"position": 0};
          play({
            playerInstance: player,
            spotify_uris: spotify_uris,
            offset: offset
          });
          initial_load = false;
          progress_timer = setInterval(getProgress, 1000);
        }
        else {
          player.resume();
        }
      
        play_control.setAttribute('hidden','');
        pause_control.removeAttribute('hidden');
        current_state = 'playing';
      };
  
      pause_control.onclick = function() {
        pause_the_song();
      };
      
  
      var volume_button = document.getElementById('volume-button');
      var mute_button = document.getElementById('mute-button');
  
      volume_button.onclick = function() {
        player.setVolume(0).then(() => {
          volume_button.setAttribute('hidden','');
          mute_button.removeAttribute('hidden');
        });
      };
  
      mute_button.onclick = function() {
        player.setVolume(saved_volume).then(() => {
          mute_button.setAttribute('hidden','');
          volume_button.removeAttribute('hidden');
        });
      };
  
      volume_control.onclick = function() {
        saved_volume = volume_control.value;
        player.setVolume(saved_volume).then(() => {
          console.log('User set volume to:', saved_volume);
        });
      };
  
      player.connect().then(success => {
        if (success) {
          console.log('The Web Playback SDK successfully connected to Spotify!');
        }
      })
    
    };  
  </script>

{% endblock %}