{% extends "base.html" %}

{% load static %}

{% block extra_css %}
  <!-- special styling needed for this page -->
  <link rel="stylesheet" href="{% static 'css/playing.css' %}">
{% endblock %}

{% block content %}

    <div "class=row">
        <h1 class='studio-name text-center'>{{studio_name}}</h1>
    </div>

    <div class="row mx-1">   
        <div class="col-12 border border-success">
            <h1 class="div-title text-center mb-3" id="id-now-playing-section">Connecting...</h1>
            <h3 id="id-dance-type-playing"></h3>
            <p id="id-song-title-playing"></p>
            <p id="id-song-artist-playing"></p>
        </div>
    </div>
    <script>
    
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/playing'
        );
    
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const message_dict = JSON.parse(data.message);
            console.log(message_dict);
            if (message_dict.music_playing === '-1') {
                // clear out song info
                document.getElementById("id-now-playing-section").innerHTML = "No Music Playing";
                document.getElementById("id-dance-type-playing").innerHTML = '';
                document.getElementById("id-song-title-playing").innerHTML = '';
                document.getElementById("id-song-artist-playing").innerHTML = '';
            } else {
                // indicate the dance type, title and artist of the current song.
                document.getElementById("id-now-playing-section").innerHTML = "Now Playing";
                document.getElementById("id-dance-type-playing").innerHTML = message_dict.dance;
                document.getElementById("id-song-title-playing").innerHTML = message_dict.title;
                document.getElementById("id-song-artist-playing").innerHTML = message_dict.artist; 
            }           
        };
    
        chatSocket.onclose = function(e) { 
            // if the socket disconnects (for example, the phone's browser has gone to sleep)
            // inform the user to reload the page
            document.getElementById('id-now-playing-section').innerHTML = "Disconnected";
            document.getElementById("id-dance-type-playing").innerHTML = '';
            document.getElementById("id-song-title-playing").innerHTML = 'Reload Page to Connect';
            document.getElementById("id-song-artist-playing").innerHTML = '';
            console.error('Chat socket closed unexpectedly');
        };
    
        // these methods will be replaced by like / dislike buttons

    
        //document.querySelector('#chat-message-submit').onclick = function(e) {
        //    const messageInputDom = document.querySelector('#chat-message-input');
        //    const message = "Test Message"; //messageInputDom.value;
        //    chatSocket.send(JSON.stringify({
        //        'message': message
        //    }));
            //messageInputDom.value = '';
        //};
    </script>
{% endblock %}