{% extends "base.html" %}

{% load static %}

{% block extra_css %}
  <!-- special styling needed for this page -->
  <link rel="stylesheet" href="{% static 'css/playing.css' %}">
{% endblock %}

{% block content %}

    <div class="row">
        <h1 class='studio-name text-center'>{{studio_name}}</h1>
    </div>

    <div class="row" id="id-connecting-section">   
        <div class="col-12 border border-success">
            <h1 class="div-title text-center my-2">Connecting...</h1>
        </div>
    </div>
    
    <div hidden class="row" id="id-disconnected-section">   
        <div class="col-12 border border-success">
            <h1 class="div-title text-center my-2">Disconncted</h1>
            <p class= "my-1">Reload Page to Connect</p>
        </div>
    </div>
    
    <div hidden id="id-now-playing-section" class="row border border-success">
        <div class="row" >   
            <div class="col-12">
                <h1 class="div-title text-center my-2" >Now Playing</h1>
                <h3 class="my-2" id="id-dance-type-playing"></h3>
            </div>
        </div>
        <div class="row my=0">
            <div class="col-1 text-center">
                <button id="id-hate-song-playing" class="thumb-button left-thumb btn-secondary">
                    <img height=24 src={% static 'img/hand-thumbs-down.svg' %}>
                </button>
                <!-- the filled buttons are initially hidden and disabled so they can't be clicked -->
                <button hidden id="id-hated-song-playing" class="thumb-button left-thumb btn-outline-dark">
                    <img disabled height=24 src={% static 'img/hand-thumbs-down-fill.svg' %}>
                </button>
            </div>
            <div class="col-10"> 
                <p class= "my-1" id="id-song-title-playing"></p>
                <p class= "my-1" id="id-song-artist-playing"></p>
                <p hidden id="id-song-id-playing"></p>
            </div>
            <div class="col-1 text-center">
                <button id="id-like-song-playing" class="thumb-button right-thumb btn-secondary">
                    <img height=24 src={% static 'img/hand-thumbs-up.svg' %}>
                </button>
                <button hidden id="id-liked-song-playing" class="thumb-button right-thumb btn-outline-dark">
                    <img disabled height=24 src={% static 'img/hand-thumbs-up-fill.svg' %}>
                </button>
            </div>
        </div>
    </div>
    
    <div hidden class="row" id="id-no-music-section">   
        <div class="col-12 border border-success">
            <h1 class="div-title text-center my-2">No Music Playing</h1>
        </div>
    </div>
    <script>
    
        // variables for like / dislike buttons
        var like_current_song = document.getElementById("id-like-song-playing");
        var hate_current_song = document.getElementById("id-hate-song-playing");
    
        // variables for filled buttons
        var liked_current_song = document.getElementById("id-liked-song-playing");
        var hated_current_song = document.getElementById("id-hated-song-playing");
        
        // variable for the current song id
        var current_song_id;
    
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/playing'
        );
    
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const message_dict = JSON.parse(data.message);
            console.log(message_dict);
            if (message_dict.music_playing === '-1') {
                // show the no-music section, hide the others
                document.getElementById("id-no-music-section").removeAttribute("hidden");
                document.getElementById("id-connecting-section").setAttribute("hidden",'');
                document.getElementById("id-disconnected-section").setAttribute("hidden",'');
                document.getElementById("id-now-playing-section").setAttribute("hidden",'');
            } else {
                // if the song_id is different from what this page thinks is current
                if (message_dict.song_id != current_song_id) {
                    //update the current song id variable
                    document.getElementById("id-song-id-playing").innerHTML = message_dict.song_id;
                    current_song_id = message_dict.song_id;

                    // show the now playing section, hide the others
                    document.getElementById("id-now-playing-section").removeAttribute("hidden");
                    document.getElementById("id-connecting-section").setAttribute("hidden",'');
                    document.getElementById("id-disconnected-section").setAttribute("hidden",'');
                    document.getElementById("id-no-music-section").setAttribute("hidden",'');
                    
                    // indicate the dance type, title and artist of the current song.
                    document.getElementById("id-dance-type-playing").innerHTML = message_dict.dance;
                    document.getElementById("id-song-title-playing").innerHTML = message_dict.title;
                    document.getElementById("id-song-artist-playing").innerHTML = message_dict.artist;
                    
                    // return like buttons to default state
                    liked_current_song.setAttribute("hidden",'');
                    hated_current_song.setAttribute("hidden",'');
                    like_current_song.removeAttribute("hidden");
                    hate_current_song.removeAttribute("hidden");
                }
            }           
        };
    
        chatSocket.onclose = function(e) { 
            // if the socket disconnects (for example, the phone's browser has gone to sleep)
            // show the disconnected section, informing the user to reload the page. Hide other sections
            document.getElementById("id-disconnected-section").removeAttribute("hidden");
            document.getElementById("id-connecting-section").setAttribute("hidden",'');
            document.getElementById("id-no-music-section").setAttribute("hidden",'');
            document.getElementById("id-now-playing-section").setAttribute("hidden",'');
            console.error('Chat socket closed unexpectedly');
        };

        
        like_current_song.onclick = function(e) {
            // hide the like and dislike buttons, unhide the filled like button
            like_current_song.setAttribute("hidden",'');
            hate_current_song.setAttribute("hidden",'');
            liked_current_song.removeAttribute("hidden");
            
            // send a like message to the websocket
            const msg_dict = {"type": "like", "song_id": current_song_id};
            console.log(msg_dict);
            chatSocket.send(JSON.stringify(msg_dict));
        };
        
        hate_current_song.onclick = function(e) {
            // hide the like and dislike buttons, unhide the filled dislike button
            like_current_song.setAttribute("hidden",'');
            hate_current_song.setAttribute("hidden",'');
            hated_current_song.removeAttribute("hidden");
            
            // send a dislike message to the websocket
            const msg_dict = {"type": "hate", "song_id": current_song_id};
            console.log(msg_dict);
            chatSocket.send(JSON.stringify(msg_dict));
        };
        
    </script>
{% endblock %}