{% extends "base.html" %}

{% load static %}

{% block extra_css %}
  <!-- special styling needed for this page -->
  <link rel="stylesheet" href="{% static 'css/show_songs.css' %}">
{% endblock %}

{% block content %}

  <!-- first row in bootstrap grid is the page title, with some padding on the bottom -->
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">{{page_title}}</h2>
    </div>
    
    <!-- link to create a song from an audio file -->
    {% if not streaming and not index %}
      <div class="text-center my-2">
        <a class="btn btn-primary" href="{% url 'App:add_song' %}">Add Song from File</a>
      </div>
    {% elif index %}
      <div class="text-center my-2">
        <a class="btn btn-secondary" href="{% url 'App:edit_playlist' playlist_id %}">Cancel Replacement</a>  
      </div>
    {% else %}
      <div class="text-center my-2">
        <a class="btn btn-secondary" href="{% url 'App:spotify_find_song_bpms' %}">Find Song BPMs</a>  
      </div>    
    {% endif %}
  </div>
  
  <!-- next row in bootstrap grid is a table, with dark borders --> 
  <div class="col-12 border border-dark">
  <table class="table table-bordered table-sm">
    <!-- column headers have a dark background -->
    <thead class='table-dark'>
      <!-- use sticky to keep header row from scrolling off the page -->
      <tr id='table-header-sticky' >
        <th class="text-center"style="width:5%">#</th>
        <th class="text-center"style="width:28%">Title</th>
        <th class="text-center"style="width:22%">Artist</th>
        <th class="text-center"style="width:15%">Dance</th>
        <th class="text-center"style="width:5%">BPM</th>
        <th class="text-center"style="width:25%">Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- div tag used to enable sticky positioning -->
      <div>
        {% if filter %}
        <!-- the first row of the table is a filter -->
        <form class="mx-auto" id='song-filter-form' method="get">
          {% csrf_token %}
          <!-- use sticky to keep this row from scrolling off the page -->
          <tr id='song-filter-sticky' class="table-secondary">
            <td></td>
            <!-- user can filter on any of these columns --> 
            <td id='title-filter' class="text-center">{{ filter.form.title }}</td>
            <td id='artist-filter' class="text-center">{{ filter.form.artist }}</td>
            <td id='dance-type-filter' class="text-center">{{ filter.form.dance_type }}</td>
            <td></td>
            <!-- the last button is used to submit filter data -->
            <!-- name attribute cannot be submit, so javascript submit function will work -->
            <td class="text-center">
              <input class="btn btn-dark btn-sm" type="submit" name="btn_submit" value="Filter"/>
              <a class="btn btn-warning btn-sm" href="{% url 'App:show_songs' %}">Clear</a>
              <input class="btn btn-secondary btn-sm" type="submit" name="btn_play_all" value="Play All"/>
            </td>
          </tr>
        </form>
        {% endif %}
      </div>
      <!-- the rest of the table has the list of songs, one song per row -->
      {% for song in songs %}
      <tr class="table-row">
        <td class="text-center">{{ forloop.counter }}
        <td class="text-center">{{ song.title }}
          {% if song.explicit %}
            <img src={% static 'img/explicit-fill.svg' %}>
          {% endif %}
        </td>
        <td class="text-center">{{ song.artist }}</td>
        <!-- display the "readable" string for the dance type -->
        <td class="text-center">{{ song.get_dance_type_display }}</td>
        
        <!-- if song BPM < 0, display N/A -->
        {% if song.bpm < 0 %}
          <td class='text-center'>N/A</td>
        {% else %}
          <td class='text-center'>{{song.bpm}}</td>
        {% endif %}
          
        <!-- final column has the action buttons -->
        <td class="text-center">
          {% if user.is_superuser or user.is_teacher %}
            <!-- only admin users or teachers can play or edit songs -->
            <a class="btn btn-primary btn-sm" href="{% url 'App:play_song' song.id %}">Play</a>
            <a class="btn btn-info btn-sm" href="{% url 'App:create_group_class_playlist' song.id %}">Group Class</a>
            <a class="btn btn-secondary btn-sm" href="{% url 'App:update_song' song.id %}">Edit</a>            
            {% if index %}
              <a class="btn btn-warning btn-sm" href="{% url 'App:replace_song' playlist_id index song.dance_type song.id %}">Select</a>
            {% else %}
              {% if song.explicit %}
                <li><a class="dropdown-item" href="{% url 'App:spotify_find_clean_track' song.spotify_track_id song.id %}">Find Clean Version</a></li>
              {% endif %}
              <span class="dropdown">
                <button class="btn btn-sm btn-outline-dark dropdown-toggle" type="button" 
                        data-bs-toggle="dropdown">Playlist       
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'App:playlists_without_song' song.id %}">Add to Playlist</a></li>
                    <li><a class="dropdown-item" href="{% url 'App:playlists_with_song' song.id %}">Find In Playlist</a></li>
                </ul>
              </span>
            {% endif %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

<!-- need javascript to submit the form when any info items have changed -->
{% block extra_js %}
    <script src={% static 'js/show_songs.js' %}></script>
{% endblock %}