{% extends "base.html" %}

{% load static %}

{% block extra_css %}
  <!-- special styling needed for this page -->
  <link rel="stylesheet" href="{% static 'css/show_songs.css' %}">
{% endblock %}

{% block content %}

  <!-- first row in bootstrap grid is the page title, with some padding on the bottom -->
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">{{page_title}}</h2>
    </div>
    
    <!-- link to create a song from an audio file -->
    {% if not streaming %}
      <div class="text-center my-2">
        <a class="btn btn-primary" href="{% url 'App:add_song' %}">Add Song From File</a>
        {% if showing_no_art %}
          <a class="btn btn-primary" href="{% url 'App:show_songs' %}">Show All Songs</a>   
        {% else %}
          <a class="btn btn-primary" href="{% url 'App:show_songs_no_cover_art' %}">Show Songs without Cover Art</a>
        {% endif %}
      </div>
    </div>
  {% endif %}
  
   <!-- next row in bootstrap grid is a table, with dark borders --> 
  <div class="col-12 border border-dark">
  <table class="table table-bordered table-sm">
    <!-- column headers have a dark background -->
    <thead class='table-dark'>
      <!-- use sticky to keep header row from scrolling off the page -->
      <tr id='table-header-sticky' >
        <th class="text-center"style="width:33%">Title</th>
        <th class="text-center"style="width:25%">Artist</th>
        <th class="text-center"style="width:15%">Dance</th>
        <th class="text-center"style="width:15%">Holiday</th>
        <th class="text-center"style="width:12%">Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- div tag used to enable sticky positioning -->
      <div>
        {% if filter %}
        <!-- the first row of the table is a filter -->
        <form class="mx-auto" id='song-filter-form' method="get">
          {% csrf_token %}
          <!-- use sticky to keep this row from scrolling off the page -->
          <tr id='song-filter-sticky' class="table-secondary">
            <!-- user can filter on any of these columns --> 
            <td id='title-filter' class="text-center">{{ filter.form.title }}</td>
            <td id='artist-filter' class="text-center">{{ filter.form.artist }}</td>
            <td id='dance-type-filter' class="text-center">{{ filter.form.dance_type }}</td>
            <td id='holiday-filter' class="text-center">{{ filter.form.holiday }}</td>
            <!-- the last button is used to submit filter data -->
            <!-- name attribute cannot be submit, so javascript submit function will work -->
            <td class="text-center">
              <input class="btn btn-dark btn-sm" type="submit" name="btn_submit" value="Filter"/>
            </td>
          </tr>
        </form>
        {% endif %}
      </div>
      <!-- the rest of the table has the list of songs, one song per row -->
      {% for song in songs %}
      <tr class="table-row">
        <td class="text-center">{{ song.title }}
          {% if song.explicit %}
            <img src={% static 'img/explicit-fill.svg' %}>
          {% endif %}
        </td>
        <td class="text-center">{{ song.artist }}</td>
        <!-- display the "readable" string for the dance type and holiday -->
        <td class="text-center">{{ song.get_dance_type_display }}</td>
        <td class="text-center">{{ song.get_holiday_display }}</td>
        
        <!-- final column has the action buttons -->
        <td class="text-center">
          {% if user.is_superuser or user.is_teacher %}
            <!-- only admin users or teachers can play or edit songs -->
            <a class="btn btn-primary btn-sm" href="{% url 'App:play_song' song.id %}">Play</a>
            <span class="dropdown">
              <button class="btn btn-sm btn-outline-dark dropdown-toggle" type="button" 
                      data-bs-toggle="dropdown">&hellip;       
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'App:update_song' song.id %}">Edit</a></li>
                {% if song.explicit %}
                    <li><a class="dropdown-item" href="{% url 'App:spotify_find_clean_track' song.spotify_track_id song.id %}">Find Clean Version</a></li>
                {% endif %}
                <li><hr class="dropdown-divider"></li>
                
                <li class="dropdown-header">Add to Playlist</li>
                {% for p in playlists %}
                  <li><a class="dropdown-item" 
                         href="{% url 'App:add_to_playlist' p.id song.id %}">{{p.title}}</a>
                  </li>
                {% endfor %}
                
                {% if user.is_superuser %}
                  <!-- only admin users can edit or delete a song -->
                  <!-- force the user to confirm before deleting a song -->
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'App:delete_song' song.id %}"
                         onclick="return confirm('Deleting: {{song.title}}\n Are you sure?')">Delete</a>
                  </li>
              {% endif %}
              </ul>
            </span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

<!-- need javascript to submit the form when any info items have changed -->
{% block extra_js %}
    <script src={% static 'js/show_songs.js' %}></script>
{% endblock %}