{% extends "base.html" %}


{% block content %}

  <div class="row">
    <div class="col-12">
      <!-- home page only has titles -->
      <h1 class="text-center">Spotify Access</h1>
      <h2>Hello, {{ spotify_user }} </h2>
      <h3>{{ playlists_description }}</h3>
    </div>
  </div>
  
  <!-- next row in bootstrap grid is a series of cards, one per album -->
  <div class="row border border-dark">

    {% for playlist in playlists %}
    
      <div class="col-3 card">
        <img src="{{playlist.image}}" class="card-img-top p-1">
        <div class="card-body">
          <h4 class="card-title">{{ playlist.name }}</h4>
          <p class="card-text">{{ playlist.owner }}</p>
          <a href="{% url 'App:spotify_playlist_tracks' playlist.id %}" class="btn btn-primary">Show Tracks</a>
        </div>
      </div>

    {% endfor %}

  </div>
{% endblock %}
