{% extends "base.html" %}
{% load my_tags %} 

{% block content %}

  <div class="row">
    <div class="col-12">
      <!-- home page only has titles -->
      <h1 class="text-center">Spotify Access for <span class='text-danger'>{{spotify_user}}</span></h1>
      <h3> {{track_list_description}} </h3>
    </div>
  </div>
  
  <div class="row mb-2">
    <div class="col-2">
      {% if first > 16 %}
        <a class="btn btn-primary" href="?{% param_replace offset=first|add:"-17" %}">Previous</a>
      {% endif %}
    </div>
    <div class="col-8">
      {% if total > 0 %}
        <h4 class='text-center'>Displaying tracks {{first}} - {{last }} out of {{total}} available</h4>
      {% else %}
        <h4 class='text-center'>No tracks found</h4>
      {% endif %}
    </div>
    <div class="col-2">
      {% if last < total %}
        <a class="btn btn-primary" href="?{% param_replace offset=last %}">Next</a>
      {% endif %}
    </div>
  </div>
  
  <!-- The spotify player starts out hidden, it will appear above the list of tracks -->
  <div hidden id='spotify-player-section' class="row">
  <div class="col-8 offset-2">
    <iframe id='spotify-iframe-player' style="border-radius:12px" 
            width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
  </div>
</div>
  
  <!-- next row in bootstrap grid is a table, with dark borders --> 
  <div class="col-12 border border-dark">
    <table class="table table-bordered table-sm">
      <!-- column headers have a dark background -->
      <thead class='table-dark'>
        <!-- use sticky to keep header row from scrolling off the page -->
        <tr id='table-header-sticky' >
          <th class="text-center" style="width:20%">Artist</th>
          <th class="text-center" style="width:30%">Title</th>
          <th class="text-center" style="width:25%">Album</th>
          <th class="text-center" style="width:8%">Duration</th>
          <th class="text-center" style="width:7%">Tempo</th>
          <th class="text-center" style="width:10%">Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- the rest of the table has the list of songs, one song per row -->
        {% for track in tracks %}
          <tr>
            <td class="text-center">{{ track.artist_name }}</td>
            <td class="text-center">{{ track.name }}</td>
            <td class="text-center">{{ track.album_name }}</td>
            <td class="text-center">{{ track.duration}}</td>
            <td class="text-center">{{ track.tempo}}</td>
            <td class="text-center">
              <button class="btn btn-primary btn-sm">Play</button>
              <span hidden>{{ track.id }}</span>
              <a class="btn btn-sm btn-primary" href="{% url 'App:add_spotify_track' track.id %}">Add</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
  </div>

{% endblock %}

{% block extra_js %}
<script>
  // get the div containing the iframe 
  const player_div = document.getElementById('spotify-player-section');
  const player = document.getElementById('spotify-iframe-player');

  // get a list of all button elements on the page
  const play_buttons = document.getElementsByTagName("button");
  
  // add event listener for clicks on any of the percentage input elements
  for(var i = 0; i < play_buttons.length; i++) {
    play_buttons[i].addEventListener('click', myPlayFunction);
  };

  function myPlayFunction() {
    player_div.removeAttribute('hidden');
    var e = event.target;
    src_string = "https://open.spotify.com/embed/track/" + e.nextElementSibling.innerHTML + "?utm_source=generator";
    console.log(src_string)
    player.setAttribute('src', src_string);
  };

</script>
{% endblock %}