{% extends "base.html" %}
{% load my_tags %} 
{% load static %}

{% block content %}

  <div class="row">
    <div class="col-12">
      <!-- home page only has titles -->
      <h1 class="text-center">Spotify Access for <span class='text-danger'>{{spotify_user}}</span></h1>
      <h3> 
        {{track_list_description}} 
        {% if playlist_id %}
          <!-- link to add random song to current playlist-->
          <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" 
            data-bs-toggle="dropdown">Add Entire Playlist    
          </button>
          <!-- create a menu of dance types, with a wildcard on top -->  
          <ul class="dropdown-menu">
            {% for dt in dance_types %}
              <li><a class="dropdown-item" href="{% url 'App:add_spotify_playlist' playlist_id forloop.counter0 %}">{{dt.1}}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </h3>
    </div>
  </div>
  
  <div class="row mb-2">
    <div class="col-2">
      {% if first > 16 %}
        <a class="btn btn-primary" href="?{% param_replace offset=first|add:"-17" %}">Previous</a>
      {% endif %}
    </div>
    <div class="col-8">
      {% if total > 0 %}
        <h4 class='text-center'>Displaying tracks {{first}} - {{last }} out of {{total}} available</h4>
      {% else %}
        <h4 class='text-center'>No tracks found</h4>
      {% endif %}
    </div>
    <div class="col-2">
      {% if last < total %}
        <a class="btn btn-primary" href="?{% param_replace offset=last %}">Next</a>
      {% endif %}
    </div>
  </div>

  
  <!-- next row in bootstrap grid is a table, with dark borders --> 
  <div class="col-12 border border-dark">
    <table class="table table-bordered table-sm">
      <!-- column headers have a dark background -->
      <thead class='table-dark'>
        <!-- use sticky to keep header row from scrolling off the page -->
        <tr id='table-header-sticky' >
          <th class="text-center" style="width:30%">Title</th>          
          <th class="text-center" style="width:20%">Artist</th>
          <th class="text-center" style="width:25%">Album</th>
          <th class="text-center" style="width:7%">Duration</th>
          <th class="text-center" style="width:6%">Tempo</th>
          <th class="text-center" style="width:12%">Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- the rest of the table has the list of songs, one song per row -->
        {% for track in tracks %}
          <tr>
            <td class="text-center">{{ track.name }}
              {% if track.explicit %}
                <img src={% static 'img/explicit-fill.svg' %}>
              {% endif %}
            </td>
            <td class="text-center">{{ track.artist_name }}</td>
            <td class="text-center">{{ track.album_name }}</td>
            <td class="text-center">{{ track.duration}}</td>
            <td class="text-center">{{ track.tempo}}</td>
            <td class="text-center">
              {% if track.id %}
                <a class="btn btn-sm btn-primary" href="{% url 'App:play_spotify_track' track.id %}">Play</a>
                <!-- if song_id passed in, we are selecting BPM, not adding track -->
                {% if song_id %}
                  <a class="btn btn-sm btn-primary" href="{% url 'App:spotify_find_song_bpms' song_id track.tempo%}">Use BPM</a>
                {% elif track.US_market %}
                  <a class="btn btn-sm btn-primary" href="{% url 'App:add_spotify_track' track.id %}">Add</a>
                {% else %}
                  <span class='small'>Non-US track</span>
                {% endif %}
              {% else %}
                <span class='small'>Unavailable</span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
  </div>

{% endblock %}
